<a
    name=""
    id=""
    class="btn btn-primary"
    routerLink="/tipo-actividad/crear-tipo-actividad"
    role="button"
    >Crear Tipo Actividad</a
>

<div class="table-responsive">
    <table class="table table-striped-columns table-hover table-bordered table-primary align-middle">
        <thead class="table-light">
            <caption>
                Tipo Actividades
            </caption>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (item of this.tipoActividades; track $index) {
            <tr>
                <td scope="row">{{item.codigo}} </td>
                <td>{{item.nombre}} </td>
                <td>
                    <a name="" id="" class="btn btn-primary"
                        routerLink="/tipo-actividad/editar-tipo-actividad/{{item.codigo}}" role="button">Editar</a>

                    <button type="button" class="btn btn-danger">
                        Eliminar
                    </button>

                </td>
            </tr>
            }


        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>