<form action="" [formGroup]="formulario"(ngSubmit)="enviar()">
    
    <div class="mb-3">
        <label for="codigo" class="form-label">Codigo</label>
        <input
            formControlName="codigo"
            type="text"
            class="form-control"
            name="codigo"
            id="codigo"
            aria-describedby="helpId"
            placeholder="Codigo"
        />
        
    </div>
    

    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input
            formControlName="nombre"
            type="text"
            class="form-control"
            name=""
            id=""
            aria-describedby="helpId"
            placeholder="Nombre"
        />
        
    </div>
    
    <button
        type="submit"
        class="btn btn-primary"
    >
        Crear
    </button>

    <a
        class="btn btn-danger"
        routerLink="/tipo-actividad/listar-tipo-actividades"
        role="button"
        >Cancelar</a
    >
    
</form>