<a
    name=""
    id=""
    class="btn btn-primary"
    routerLink="/actividad/crear-actividad"
    role="button"
    >Nueva Actividad</a>

<div
    class="table-responsive-md"
>
    <table
        class="table table-striped-columns table-hover table-bordered table-light align-middle"
    >
        <thead class="table-light">
            <caption>
                Listar Actividades
            </caption>
            <tr class="table-primary">
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Comentario</th>
                <th>Vencimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (item of this.actividades; track $index) 
            {
                <tr>
                    <td scope="row"> {{item.codigo}} </td>
                    <td> {{item.descripcion}} </td>
                    <td> {{item.comentario}}</td>
                    <td> {{item.vencimiento}}</td>
                    <td>
                        <a
                            name=""
                            id=""
                            class="btn btn-primary"
                            routerLink="/actividad/editar-actividad/{{item.codigo}}"
                            role="button"
                            >Editar</a
                        >

                        <button
                            type="button"
                            class="btn btn-danger"
                            (click)="eliminar(item.codigo)"
                        >
                            Eliminar
                        </button>
                        
                        
                    </td>
                </tr>
            }
            
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
</div>
